include README.md
recursive-include octoprint_cvprinting/data *
recursive-include octoprint_cvprinting/templates *
recursive-include octoprint_cvprinting/translations *
recursive-include octoprint_cvprinting/static *
